<div  ngClass="container">
    <div class="col-12 col-md-12  col-sm-12">
      <div class="row"  >
          <div class="col-md-4 col-sm-12"  >
             <div class="card" >
           
                         <!-- <svg xmlns="http://www.w3.org/2000/svg"  style="margin: auto;margin-top:7px;" width="40" height="40" fill="currentColor"  class="bi bi-currency-rupee text-secondary" viewBox="0 0 16 16">
                          <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                        </svg> -->
            <p style="margin-top: 5px;">
              RS:{{this.allbills[2][0].totalbill}}<br>
              Total Payment
            </p>
             </div>
          </div>                                           
          <div class="col-md-4  col-sm-12">
            <div class="card" >
             
              <!-- <svg xmlns="http://www.w3.org/2000/svg"  style="margin: auto;margin-top:7px;" width="40" height="40" fill="currentColor"  class="bi bi-currency-rupee text-warning" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg> -->
            <p style="margin-top: 5px;">
              RS:{{this.allbills[1][0].submitbill}}<br>
              Submit Payment
            </p>
            </div>
          </div>
          <div class="col-md-4  col-sm-12">
            <div class="card" >
            
              <!-- <svg xmlns="http://www.w3.org/2000/svg"  style="margin: auto;margin-top:7px;" width="40" height="40" fill="currentColor"  class="bi bi-currency-rupee text-info" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg> -->
            <p style="margin-top: 5px;">
              RS:{{this.allbills[3][0].remainigbill}}<br>
              Remaining Payment
            </p>
            </div>     
          </div>
      </div>
  </div>

  <div class="col-12 col-md-12  col-sm-12"  >
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-5" >
        <select  class="form-select" aria-label="Default select example"  (change)="selectname($event)">
                            <option value="" disabled selected>Name</option>
                            <option value="{{item.c_id}}" *ngFor="let item of getcusromer1">
                                <td>{{item.name}}</td>
                            </option>
                        </select>
    </div>
    <div class="col-md-5">
      <select class="form-select" aria-label="Default select example" (change)="selectpymentstatus($event)">
          <option value="" disabled selected>Select Payment Status</option>
          <option value="confirm">Confirm Payment</option>
          <option value="pending">Pending Payment</option>
      </select>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="filterdata()">Filter</button>
</div>
    </div>
</div>

 
    <table class="fl-table" style="margin-top: 40px;">
      <thead>
        <tr>
            <th >No</th>
            <th >Customer Name</th>
            <th >Date</th>
            <th >Security</th>
            <th >No Of Bottels</th>
            <th >Return</th>
            <th >Empty</th>
            <th >Amount</th>
            <th >Discount</th>
            <th >Total</th>
            <th >Sumitted Bill</th>
            <th >Remaining Bill</th>
            <th >Pay Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allbills[0] ; let i = index">
          <td>{{i}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date}}</td>
          <td>{{item.security}}</td>
          <td>{{item.no_of_boottels}}</td>
          <td>{{item.return}}</td>
          <td>{{item.empty}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.discount}}</td>
          <td>{{item.total}}</td>
          <td>{{item.submittedBill}}</td>
          <td>{{item.remainingBill}}</td>
          <td *ngIf="item.remainingBill != 0"><button type="button" class="btn btn-primary">Pay</button></td>
        </tr>
        <tbody>
    </table>



  </div>
  
  