<div ngClass="container">
    <div  style="height:80px;margin-top:-15px;">
      <button style="position: absolute;right:25px;" class="button" 
      type="button" class="btn btn-primary" (click)="refresh()">Refresh</button>
    </div>
      <div class="col-12 col-md-12  col-sm-12">
        <div class="row"  >
            <div class="col-md-4 col-sm-12"  >
               <div class="card" >
              <p style="margin-top: 5px;">
                RS:{{this.allbills[2][0].totalbill}}<br>
                Total Payment
              </p>
               </div>
            </div>                                           
            <div class="col-md-4  col-sm-12">
              <div class="card" >
              <p style="margin-top: 5px;">
                RS:{{this.allbills[1][0].submitbill}}<br>
                Submit Payment
              </p>
              </div>
            </div>
            <div class="col-md-4  col-sm-12">
              <div class="card" >
              <p style="margin-top: 5px;">
                RS:{{this.allbills[3][0].remainigbill}}<br>
                Remaining Payment
              </p>
              </div>     
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-12  col-sm-12"  >
      <div class="row" style="margin-top: 20px;">
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example" (change)="selectpymentstatus($event)">
            <option value="" disabled selected>Select Payment Status</option>
            <option value="confirm">Confirm Payment</option>
            <option value="pending">Pending Payment</option>
        </select>
    </div>
    <div class="col-md-3">
      <input type="month"  class="form-control" (change)="selectdate($event)">
   </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="filterdata()">Filter</button>
    </div>
      </div>
    </div>
    
    
  </div>
  <div  class="table-class">
    <table class="fl-table" style="margin-top: 40px; border-radius: 20px;">
      <thead>
        <tr>
            <th >No</th>
            <th >Customer Name</th>
            <th >Date</th>
            <th >Security</th>
            <th >No Of Bottels</th>
            <th >Return</th>
            <th >Empty</th>
            <th >Amount</th>
            <th >Discount</th>
            <th >Total</th>
            <th >Sumitted Bill</th>
            <th >Remaining Bill</th>
            <th >Payment Status</th>
            <th>Pay Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allbills[0] ; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.date}}</td>
          <td>{{item.security}}</td>
          <td>{{item.no_of_boottels}}</td>
          <td>{{item.return}}</td>
          <td>{{item.empty}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.discount}}</td>
          <td>{{item.total}}</td>
          <td>{{item.submittedBill}}</td>
          <td>{{item.remainingBill}}</td>
          <td><p [ngClass]="{'pendingg':item.paymentstatus === 'pending','successfulll':item.paymentstatus === 'confirm'}"style="margin:0px;">{{item.paymentstatus}}</p></td>
          <td *ngIf="item.remainingBill != 0"><button class="button" class="button" type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="paymodelopen(item)">Pay</button></td>
        </tr>
        <tbody>
    </table>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-12 col-md-12  col-sm-12">
                <div class="row" ngClass="container">
                    <div class="col-md-12">
                      <div>
                       <h2>Remaining Payment</h2>
                    </div>
                        <div>
                            <label for="name" class="label">Enter Amount</label>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.payAmount.submittedBill">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="insertremaingpayment()">+Add</button>
  
            </div>
        </div>
    </div>
  </div>
  </div>