<div class="container">
    <form>
        <div class="row" ngClass="tonpmargin1">
            <div class="col-12 col-md-12  col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.Customer_Name}}</label>
                        </div>
                        <input type="text" class="form-control" id="name"  placeholder="Name" 
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.Customer_Number}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.father_name"  >
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.Customer_Address}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.father_name"  >
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ngClass="tonpmargin1">
            <div class="col-12 col-md-12  col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.date}}</label>
                        </div>
                        <input type="text" class="form-control" id="name"  placeholder="Name" 
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.security}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name"  >
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.No_of_bottels}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.father_name"  >
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ngClass="tonpmargin1">
            <div class="col-12 col-md-12  col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.return}}</label>
                        </div>
                        <input type="text" class="form-control" id="name"  placeholder="Name" 
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.empty}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name"  >
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.amount}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.father_name"  >
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ngClass="tonpmargin1">
            <div class="col-12 col-md-12  col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.descount}}</label>
                        </div>
                        <input type="text" class="form-control" id="name"  placeholder="Name" 
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.total}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name"  >
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.sucmitted}}</label>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder=" Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.father_name"  >
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ngClass="tonpmargin1">
            <div class="col-12 col-md-12  col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="name" class="label">{{this.data.remeaning}}</label>
                        </div>
                        <input type="text" class="form-control" id="name"  placeholder="Name" 
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name">
                    </div>
                </div>
            </div>
        </div>
      <button class="button" (click)="adddata()">{{this.data.submit}}</button>
    </form>
  
  </div> 