<div   ngClass="container">



  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="col-12 col-md-12  col-sm-12">
              <div class="row" ngClass="container">
                  <div class="col-md-12">
                      <div>
                          <label for="name" class="label">Name</label>
                      </div>
                      <input type="text" class="form-control" placeholder="Name">
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close </button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >+Add</button>

          </div>
      </div>
  </div>
</div>

<button class="button" class="button" type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add</button>

  <div style="height:80px;margin-top:-15px;">
    <button style="position: absolute;right:25px;" class="button" 
    type="button" class="btn btn-primary"  >Refresh</button>
</div>
  <div class="col-12 col-md-12  col-sm-12">
    <div class="row">
        <div class="col-md-4 col-sm-12"  >
           <div class="card" >
          <p style="margin-top: 5px;">
            RS:{{this.transationdetal[3][0].netbalance}} <br>
            Net Balance
          </p>
           </div>
        </div>                                           
        <div class="col-md-4  col-sm-12">
          <div class="card" >
          <p style="margin-top: 5px;">
            RS:{{this.transationdetal[2][0].total_credit}} <br>
            Credit Balance
          </p>
          </div>
        </div>
        <div class="col-md-4  col-sm-12">
          <div class="card" >
          <p style="margin-top: 5px;">
            RS:{{this.transationdetal[1][0].total_debit}} <br>
            Debit Balance
          </p>
          </div>     
        </div>
    </div>
</div>


  <div class="col-12 col-md-12  col-sm-12">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-5">
        <select class="form-select" aria-label="Default select example" (change)="expensename($event)">
          <option value="" disabled selected>Select Type</option>
          <option value="Expense">Expense</option>
          <option value="bill">Bills</option>
      </select>
    </div>
    <div class="col-md-5">
     <input type="month"  class="form-control"  (change)="get_installmentbymoont($event)">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="filtertransactions()">Filter</button>

</div>
    </div>
</div>

  <table class="fl-table" style="margin-top: 40px;">
    <thead>
      <tr>
        <th>NO</th>
        <th>Type</th>
        <th>Description</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>NetBlance</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transationdetal[0] ; let i = index;">
        <td>{{i}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
        <td>{{item.credit}}</td>
        <td>{{item.debit}}</td>
        <td>{{item.netbalance}}</td>
        <td>{{item.t_date}}</td>
      </tr>
    <tbody>
  </table>
</div>

 