<div  class="container">
  <div class="col-12 col-md-12  col-sm-12">
    <div class="row">
        <div class="col-md-4 col-sm-12" *ngFor="let transation of transationdetal; let i=index" >
           <div class="card" >
            <!-- <svg xmlns="http://www.w3.org/2000/svg" style="margin: auto;margin-top:7px;" width="40" height="40" fill="currentColor" class="bi bi-truck text-secondary" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                       </svg> -->
          <p style="margin-top: 5px;">
            RS:{{this.transationdetal[i].netbalance}} <br>
            Net Balance
          </p>
           </div>
        </div> 
    </div>
</div>
<select class="form-select" aria-label="Default select example" (change)="expensename($event)">
  <option value="none" selected>Select Expance Name</option>
  <option [value]="item.e_id" *ngFor="let item of getexpence">
      <td>{{item.name}}</td>
  </option>
</select>

  <div class="col-12 col-md-12  col-sm-12">
    <div class="row" style="margin-top: 20px;" ngClass="container">
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example" (change)="expensename($event)">
          <option value="none" selected>Select Expance Name</option>
          <option [value]="item.e_id" *ngFor="let item of getexpence">
              <td>{{item.name}}</td>
          </option>
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-select" aria-label="Default select example"  >
          <option value="" disabled selected>Select Expance Name</option>
          <option value="" >  <!-- <td>{{item.name}}</td> --></option>
      </select>
  </div>
    </div>
</div>

  <table class="fl-table" style="margin-top: 40px;">
    <thead>
      <tr>
        <th>NO</th>
        <th>Type</th>
        <th>Description</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>NetBlance</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transationdetal[0] ; let i = index;">
        <td>{{i}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
        <td>{{item.credit}}</td>
        <td>{{item.debit}}</td>
        <td>{{item.netbalance}}</td>
        <td>{{item.t_date}}</td>
      </tr>
    <tbody>
  </table>
</div>

 